@acsbe:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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


@acsbe:registry=https://${GCP_SDK_NPM_REGISTRY_URL}
${GCP_SDK_NPM_REGISTRY_URL}/:username=_json_key_base64
${GCP_SDK_NPM_REGISTRY_URL}/:_password=${ACCESSFLOW_NPM_REGISTRY_TOKEN}
${GCP_SDK_NPM_REGISTRY_URL}/:always-auth=true
